{% extends "layout.html" %}
{% block body %}
<section class="top2" id="top2">
    <div class="bgsearch">
        <img src="{{url_for('static', filename='img/contact.jpg') }}" alt="">
    </div>
    <div class="find">
        <h1>Contact Us</h1>
    </div>
    <div class="contact">
    <h1> Contact to developer</h1>
    <p class="para1">Developer are Ankit Raj & Harsh Rai</p>
</div>
    <a href="https://www.facebook.com/ankitbhaktraj" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/ankitbhaktraj/" class="fa fa-instagram"></a>
    <a href="https://github.com/bhaktraj"class="fa fa-github"></a>

</section>
{% endblock %}