{% extends "layout.html" %}
{% block body %}
<h1 class="heading">Top car</h1>
<div class="form1">
    <form action="" method="post">
        <div class="form2row">
            <input type="text" name="model" id="" placeholder="company model">
          </div>
        <div class="form2row">
            <input type="text" name="details" id="" placeholder="details">
          </div>
        <div class="form2row">

          </div>
        <div class="form2row">
            <input type="submit" value="Submit">
          </div>
    </form>
</div>
<section class="table1">
    <table>
        <tr>
          <th>Company</th>
          <th>Model</th>
          <th>Price</th>
        </tr>
        {% for post in posts %}
        <tr>
          <td>{{post.cnamemodel}}</td>
          <td>{{post.details}}</td>
          <td>{{post.through}}</td>
        </tr>
        {% endfor %}
      </table>
</section>
{% endblock %}